.App {
  text-align: center;
  color: white;
}

.Tracks {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  margin-right: 250px;
}

.SingleTrack {
  /* display: inline-block; */
  position: relative;
  height: 40%;
  opacity: 60%;
  transition: opacity 0.5s ease-in-out;
  background-color: blue;
}

.SingleTrack:hover {
  opacity: 100%;
  cursor: pointer;
}

.active {
  opacity: 100%;
}

.SingleTrack img.main {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30vh;
}